/* Global css */
html,body{
  margin: 0;
  padding: 0;
}
*{
  filter: none;
}

a{
  color: inherit;
  text-decoration: none;
  transition: color 300ms;
}
a:hover{
  color: aqua;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: #141b2d;
}

::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 2.5px;
}

::-webkit-scrollbar-track:hover{
  background-color: #141b2d;
}
/* Home Page */

.homePage, .landing{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.homePage{
  display: flex;
  justify-content: space-between;
}

.homePage .messageBox{
  flex: 1;
  margin-left: 300px;
  position: relative;
}

/* Messaage Box */
.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
  background-color: grey;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
  background-color: green;

}

.messageText{
  padding: 0;
  margin: 0;
}
.messageTime{
  font-size: .8rem;
  opacity: .5;
}

.MessagesBoxBody{
  padding-bottom: 1rem;
  overflow: scroll;
  height: 100%;
}
.MessagesBoxFooter{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* register / Login */
.landing{
  background: url(./assets/backgroung.jpg) no-repeat center center;
  background-size: cover;
}

.background{
  height: 100%;
  backdrop-filter:blur(6px) grayscale(100%);
}

.form{
  box-shadow: 0 0 5rem 1rem black;
}
